/* Змінює колір заголовку */
h1 {
  color: #ff0000;
}

/* Додає тінь до заголовку */
h1 {
  text-shadow: 2px 2px #888888;
}

/* Змінює розмір тегу <p> */
p {
  font-size: 22px;
}

/* Виділяє першу літеру основного тексту */
p:first-letter {
  color: #0000ff;
  font-size: 24px;
}

/* Додає розміри до картинки */
img {
  width: 500px;
  height: 200px;
}

/* Прибирає нижню тінь під посиланнями */
a {
  text-decoration: none;
  box-shadow: none;
}
